.last-news{
    background: #90EE90;
    border: 2px solid #2E8B57;
    margin: 10px 0;
    padding: 0 10px;
}
.last-news_field{
    color: #000080;
    font-weight: bold;
    font-style: italic;
}
.last-news_link{
    font-weight: bold;
    font-size: 12px;
}
.ui-datepicker-current { 
    display: none; 
}

